/builddir/
/prefix/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
/.meson-subproject-wrap-hash.txt
/thirdparty/ovr_openxr_mobile_sdk/*
!/thirdparty/ovr_openxr_mobile_sdk/extract_here.txt
build/
.gradle/
gradle/
.cxx/
gradlew*
local.properties
.idea/

