/subprojects/*
!/subprojects/packagefiles
!/subprojects/catch2.wrap
!/subprojects/cuber.wrap
!/subprojects/directxmath.wrap
!/subprojects/glew.wrap
!/subprojects/glfw.wrap
!/subprojects/glm.wrap
!/subprojects/openxr_loader_windows_prebuilt.wrap
!/subprojects/plog.wrap
!/subprojects/libvrm.wrap
!/subprojects/asio.wrap

/builddir/
/prefix/
/.meson-subproject-wrap-hash.txt
/thirdparty/ovr_openxr_mobile_sdk/*
!/thirdparty/ovr_openxr_mobile_sdk/extract_here.txt
build/
.gradle/
gradle/
.cxx/
gradlew*
local.properties
.idea/

